.details-img {
  height: 20em;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  padding: 5em;
  background-color: black;
}

@media (max-width: 992px) {
  .details {
    padding: 1em;
  }
  .details-img {
    height: 18em;
  }
}
